body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #f5c3cc;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #txt1 {
        top: 0;
        left: 82px;
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #logo {
        top: 0;
        left: 15px;
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #img1 {
        top: 0;
        left: 332px;
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #cta {
        right: 15px;
        bottom: 31px;
        width: 112px;
        height: 27px;
        border-radius: 5px;
        background-color: #cc0000;
        overflow: hidden;
        position: absolute;

        #cta_txt_ovr {
            left: 0;
            top: 0;
            opacity:0;
            position: absolute;
        }

        #cta_txt {
            left: 0;
            top: 0;
            position: absolute;
        }
    }


}
